<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="/resources/pink.ico">
    <link rel="stylesheet" type="text/css" href="/resources/main.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Didact+Gothic|Open+Sans+Condensed:300" rel="stylesheet">
    <meta charset="utf-8">
    <title> PLAN-IT </title>


  </head>
  <body>

    <!-- <img id="logo" src="resources/pink.png" alt="logo" height="300" width="350"> -->
    <h1> plan <br>it </h1>
    <div class="codeInput">
      <center>

      <form method="post" action ="">
        <label id="returningCode" for="code1"> enter your code :</label> <br>
          <input id="codebox" type="text" name="code1"/>

      <!-- <form method="post" action ="">
          <label id="newCode" for="newCode"> Or create a new one: <br>
            <input id="newCodeBox" type="text" name="newCode"/> -->

      </center>
    </div>

  </body>
</html>
