<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="/resources/pink.ico">
    <link rel="stylesheet" type="text/css" href="/resources/main.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Didact+Gothic|Open+Sans+Condensed:300" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <meta charset="utf-8">
    <title> PLAN-IT </title>


  </head>
  <body>

    <img id="logo" src="resources/pink.png" alt="logo" height="400" width="400">
    <!-- <h1> PLAN <br> &nbsp;&nbsp;&nbsp;IT </h1> -->
    <div class="codeInput">
      <center>

      <form method="get" action ="/custom">
        <label id="returningCode" for="code1"> enter your code :</label> <br>
          <input id="codebox" type="text" name="code1"/>
      </form>


      </center>
    </div>

  </body>
</html>
